<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>공유된 글 목록...</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<div class="center jumbotron">
		<h1>Sample App :D...</h1>

		<h2>
			다음 링크를 누르면, 루비온레일즈 튜토리얼 페이지로 이동합니다.
			<a href="http://www.railstutorial.org/">루비온레일즈 튜토리얼</a>
		</h2>

		<%= link_to "회원 가입 :D...", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
	<%#= link_to image_tag("kitten.jpg", alt: "Kitten Cats"), 'http://rubyonrails.org' %>
<% end %>