<% provide(:title, "Log in") %>
<h1>로그인</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(비밀번호가 기억이 안납니다.)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>로그인 유지하기(개인 컴퓨터에서만 설정하시는 걸 추천합니다.)</span>
      <% end %>

      <%= f.submit "로그인 하기", class: "btn btn-primary" %>
    <% end %>

    <p>아직 가입하지 않으셨나요? <%= link_to "여기를 클릭", signup_path %></p>
  </div>
</div>